agent-service/workflows/chat.template.json
{
  "name": "CDPI Agent Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "webhookId": "cdpi-agent-chat"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi — I'm the CDPI agent. Ask me about DPI architecture (technical advisory notes, standards, wallets, trust infrastructure) or programme adoption (pitch decks, rollout strategy, inclusion).",
        "options": {
          "responseMode": "responseNode",
          "title": "CDPI Agent",
          "subtitle": "Senior Technical Architect + Programs & Operations Officer"
        }
      },
      "id": "chat-trigger-node",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "cdpi-agent-chat-ui"
    },
    {
      "parameters": {
        "jsCode": "// PLACEHOLDER — replaced by scripts/build_and_import.py at build time\nreturn [];"
      },
      "id": "config-node",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 10, temperature: 0, system: $json.routerPrompt, messages: [{ role: 'user', content: $json.userMessage }] }) }}",
        "options": {}
      },
      "id": "router-llm-node",
      "name": "Router LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst rawText = (resp.content && resp.content[0] && resp.content[0].text) || '';\nconst text = rawText.toLowerCase().trim();\nlet persona = 'guide';\nif (text.includes('architect')) persona = 'architect';\nelse if (text.includes('programs') || text.startsWith('program')) persona = 'programs';\nelse if (text.includes('guide')) persona = 'guide';\nconst cfg = $('Config').first().json;\nconst userMsg = (cfg.userMessage || '').toLowerCase();\n\n// STEP 1 — Deterministic output-type override. Beats the router AND stickiness.\n// If the user's message contains an explicit output-type signal, force the correct\n// persona. This prevents Haiku from misclassifying 'I want a pitch deck on this' as\n// guide just because the word 'this' is conversational.\nconst programsSignals = /\\b(pitch\\s*deck|pitch\\s*slide|slide\\s*deck|country\\s*proposal|adoption\\s*proposal|inter-departmental|ministerial\\s*brief|outreach\\s*playbook|stakeholder\\s*map|rollout\\s*plan|pitch\\s+(?:to|for|on|about))\\b/;\nconst architectSignals = /\\b(advisory\\s*note|technical\\s*note|tech\\s*note|technical\\s*advisory|technical\\s*scope|feature\\s*spec|api\\s*spec|specification|implementation\\s*review|architecture\\s*(?:note|doc|diagram))\\b/;\nif (programsSignals.test(userMsg)) {\n  persona = 'programs';\n} else if (architectSignals.test(userMsg)) {\n  persona = 'architect';\n} else {\n  // STEP 2 — Stickiness. Only applies when no explicit output signal fires.\n  // Keeps follow-up turns on the prior persona for continuation phrases like\n  // 'revise slide 3', 'tighten this', 'yes do it'.\n  const wantsGuideTopic = /\\b(what is|what\\u2019s|how does|why would|explain|walk me through|i'?m new|which tier)\\b/.test(userMsg);\n  if (cfg.lastPersona && (cfg.lastPersona === 'architect' || cfg.lastPersona === 'programs') && !wantsGuideTopic) {\n    persona = cfg.lastPersona;\n  }\n}\n\nlet personaPrompt;\nif (persona === 'architect') personaPrompt = cfg.architectPrompt;\nelse if (persona === 'programs') personaPrompt = cfg.programsPrompt;\nelse personaPrompt = cfg.guidePrompt;\nreturn [{ json: { persona, personaPrompt, userMessage: cfg.userMessage, conversationId: cfg.conversationId, context: cfg.context, history: cfg.history } }];"
      },
      "id": "parse-router-node",
      "name": "Parse Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://embeddings:80/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ input: $json.userMessage }) }}",
        "options": {}
      },
      "id": "embed-query-node",
      "name": "Embed Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/cdpi_corpus/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vector: $json.data[0].embedding, limit: 5, with_payload: true }) }}",
        "options": {}
      },
      "id": "qdrant-search-node",
      "name": "Qdrant Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const parse = $('Parse Router').first().json;\nconst qdrantResp = $input.first().json;\nconst hits = (qdrantResp && qdrantResp.result) || [];\nconst retrievedContext = hits.map((hit, i) => {\n  const source = (hit.payload && hit.payload.source) || 'unknown';\n  const text = (hit.payload && hit.payload.text) || '';\n  return '[' + (i+1) + '] Source: ' + source + '\\n' + text;\n}).join('\\n\\n---\\n\\n');\nconst retrievedBlock = retrievedContext || '(no relevant documents found — answer from general principles and label clearly.)';\nlet contextBlock = '';\nconst ctx = parse.context;\nif (ctx && (ctx.currentPath || ctx.currentTitle)) {\n  contextBlock = '\\n\\n# Current user context\\nThe user is chatting from the vc.infra web application. Right now they are viewing:\\n- Page path: ' + (ctx.currentPath || 'unknown') + '\\n- Page title: ' + (ctx.currentTitle || 'unknown') + '\\n\\nIf the user asks navigational or location-specific questions (\"what is this page\", \"where should I go next\"), use this context. Otherwise answer their question directly — do not force-mention the current page.\\n';\n}\nconst systemPrompt = parse.personaPrompt + contextBlock + '\\n\\n# Retrieved context from CDPI corpus\\n\\n' + retrievedBlock;\n// Build the Anthropic messages array: prior history (sanitized) + this turn's user message.\nconst rawHistory = Array.isArray(parse.history) ? parse.history : [];\nconst validHistory = rawHistory.filter(m => m && (m.role === 'user' || m.role === 'assistant') && typeof m.content === 'string');\nconst messages = validHistory.concat([{ role: 'user', content: parse.userMessage }]);\nreturn [{ json: { systemPrompt, messages, userMessage: parse.userMessage, persona: parse.persona, conversationId: parse.conversationId } }];"
      },
      "id": "build-main-node",
      "name": "Build Main Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2048, system: $json.systemPrompt, messages: $json.messages }) }}",
        "options": {}
      },
      "id": "main-llm-node",
      "name": "Main LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: '**[' + $('Build Main Request').first().json.persona.toUpperCase() + ']**\\n\\n' + (($json.content && $json.content[0] && $json.content[0].text) || ''), persona: $('Build Main Request').first().json.persona, answer: ($json.content && $json.content[0] && $json.content[0].text) || '', conversationId: $('Build Main Request').first().json.conversationId }) }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Chat Trigger": {
      "main": [[{ "node": "Config", "type": "main", "index": 0 }]]
    },
    "Config": {
      "main": [[{ "node": "Router LLM", "type": "main", "index": 0 }]]
    },
    "Router LLM": {
      "main": [[{ "node": "Parse Router", "type": "main", "index": 0 }]]
    },
    "Parse Router": {
      "main": [[{ "node": "Embed Query", "type": "main", "index": 0 }]]
    },
    "Embed Query": {
      "main": [[{ "node": "Qdrant Search", "type": "main", "index": 0 }]]
    },
    "Qdrant Search": {
      "main": [[{ "node": "Build Main Request", "type": "main", "index": 0 }]]
    },
    "Build Main Request": {
      "main": [[{ "node": "Main LLM", "type": "main", "index": 0 }]]
    },
    "Main LLM": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
